/* npx @tailwindcss/cli -i ./src/styles/master.css -o ./src/styles/output.css --watch */
@import "tailwindcss";

@layer base {
    @font-face {
        font-family: 'reg';
        src: url(../fonts/Inter-Regular.ttf);
    }

    @font-face {
        font-family: 'med';
        src: url(../fonts/Inter-Medium.ttf);
    }

    @font-face {
        font-family: 'semiBold';
        src: url(../fonts/Inter-SemiBold.ttf);
    }

    @font-face {
        font-family: 'bold';
        src: url(../fonts/Inter-Bold.ttf);
    }

    @font-face {
        font-family: 'exBold';
        src: url(../fonts/Inter-ExtraBold.ttf);
    }
}

@layer components {
    .btn {
        height: 61px;
        width: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: white;
        text-transform: capitalize;
        font-family: 'semiBold';
        background-image: linear-gradient(180deg, #A259E4 -25%, #7B10DB 30%);
        border-radius: 50px;

        @apply hover:-translate-y-2 duration-500 w-[127px] h-[45px]  text-[14px] xl:w-[190px] xl:h-[61px] xl:text-[16px]

    }

    .res{
        @apply px-[2%] 2xl:px-[13%]
    }

    .title{
        @apply text-white text-[14px] xl:text-[18px] justify-center xl:justify-start capitalize font-[med] mb-5 flex items-center *:w-2.5 *:h-2.5 *:rounded-full *:flex *:bg-white *:mr-3.5 *:animate-pulse
    }

    .titleCap{
        @apply text-[#cdc5df] text-[24px] text-center xl:text-start xl:text-6xl font-[reg] *:text-white xl:leading-[65px]
    }
    
}

@layer utilities {
    .bt {
        border: 1px solid white;
    }

    .bg {
        position: relative;

        &::before {
            content: '';
            background-color: transparent;
            background-image: radial-gradient(at center center, #ffffff00 40%, #13072f 100%);
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    @keyframes anim1 {
        100%{
            transform: translateY(-50px);
        }
    }
}

@theme {
    --color-primary: #8522dc;
}